<article>
 <form>
   <div>
       <p><strong>Title</strong><br>
       <div name="recipe_title">{{recipe_title}}</div>
       <p><strong>Description</strong><br>
       <div name="description">{{description}}</div>
        <p><strong>Ingredients</strong><br>
       <div name="ingredients">{{ingredients}}</div>
       <P><strong>Instructions</strong><br>
       <div name="instructions">{{instructions}}</div>
   </div>
 </form>



