<article>
  <div class="column is-one-third">
 <form class="card">
  <div class="div has py-4">
      <p class="p has-background-primary"><strong class="strong has-text-warning">Recipe: {{recipe_title}}</strong><br>
       <p class="p has-background-primary"><strong class="strong has-text-white ">Description</strong><br>
       <div class="div has-background-primary" name="description">{{description}}</div>
        <p class="p has-background-primary "><strong class="strong has-text-white ">Ingredients</strong><br>
       <div class="div has-background-primary" name="ingredients">{{ingredients}}</div>
       <p class="p has-background-primary"><strong class="strong has-text-white ">Instructions</strong><br>
       <div class="div has-background-primary" name="instructions">{{instructions}}</div>
   </div>
 </form>
 </div>
 </article>



