<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community-Recipe-Me</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>

  <body>
  <!--header start-->
      <header>
  <!--navigation bar start-->
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
  <!--nav menu button-->
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
   <!--nav home button-->     
          <div id="navbarBasicExample" class="navbar-menu has-background-warning">
            <div class="navbar-end">
              <a class="navbar-item has-text-white has-background-warning">
              </a>

              <div id="navbarBasicExample" class="navbar-menu-fullhd">
                <div class="navbar-end">
                  <a class="navbar-item has-text-dark has-background-warning" href="./../"> <!--Need to add logout functionality-->
                    Logout
                  </a>
                  <a>
                  </a>
                  </div>
        </nav>
        </header>
   <!--header and navigaton ends-->

<!--page title text w/ white background-->
   <section class="has-background-warning has-text-centered">
      <p class="has-text-centered">
      <img src="/public/images/page-name-text.png">
         <h1 class="subtitle is-size-6-fullhd has-text-grey has-text-centered">
        <em> Share, Comment, and Save Recipes!</em></h1>
   
  </section>
        {{! Add Recipe Section Start}}
        <section class="has-background-warning">
          {{! logout and login buttons on page w/ dashboard button, can rename if wanted}}
          {{#if loggedIn}}
            <a href="/dashboard">dashboard</a>
            <button id="logout" class="btn-no-style">logout</button>
          {{else}}
            <a href="/login">login</a>
          {{/if}}
        </section>
      </header>
      {{! --header end }}
      <main>
        {{{body}}}
      </main>

      {{! --page footer }}
      <footer class="footer">
        <p>&copy; 2022 Community Recipe Me</p>
      </footer>
    </div>

    {{! The below is for a logout function located under public-javascript-logoutjs}}
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}

  </body>
  {{! -- Page body end }}
</html>