<html lang="en">
{{! page head start}}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community-Recipe-Me</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>
{{! page head end}}

{{! page body start}}
  <body>
  {{! page header start}}
      <header>
        <!--<img src="/public/images/Header Image.png"-->
          </div>
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item">
              </a>
                <div class="navbar-end">
                  <button class="button is-white">Logout<href="./../"> <!--Need to add logout functionality-->
                  </a>
                <a>
               </a>
             </div>
        </header>
   {{! page header ends}}

  {{! page logo images}}
   <section class="has-background-warning has-text-centered">
      <p class="has-text-centered">
        <div id="logo" class="align-text-center">
          <img src="/public/images/logo-9.png" height="50%">
        </div>
      <div>
      <img src="/public/images/page-name-text2.png">
         <h1 class="subtitle is-size-6-fullhd has-text-grey has-text-centered">
        </div>
   </section>
<br>
        {{! Add Recipe Section Start}}
      <section class="has-text-centered">
        <h1 class="button is-white has-text-warning">
          <a href="/">Add Recipe</a>
        </h1>
      </section>
      <br>
        <section class="has-background-warning has-text-centered">
          {{! logout and login buttons on page}}
          {{#if loggedIn}}
            <a href="/dashboard">dashboard</a>
            <button id="logout" class="btn-no-style">logout</button>
          {{else}}
          <h1 class="button is-white has-text-warning">
            <a href="/login">Sign Up/Login</a>
          </h1>
          {{/if}}
        </section>
    <br>
      <main class="has-background-white has-text-centered-fullhd">
        {{{body}}}
      </main>

      {{! --page footer }}
      <footer class="footer has-background-warning has-text-centered-fullhd">
        <p class="has-text-centered-fullhd">&copy; 2022 Community Recipe Me</p>
      </footer>
    </div>

    {{! The below is for a logout function located under public-javascript-logoutjs}}
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
  {{! -- Page body end }}
</html>