<br>
<section>
  <h2 class="title is-4 has-text-weight-medium has-text-black is-italic">Complete the Form Below to Add a New Recipe</h2>
<br>
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <br>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url"/>
    </div>
    <br>
<<<<<<< HEAD
    <button type="submit" class="btn button is-small has-background-primary has-text-white">Create</button>
=======
    <button type="submit" class="btn button has-background-primary has-text-white">Share</button>
>>>>>>> 819cf3209f512d92f56cab3419bdbb5bfd508e93
  </form>
</section>
<br>
<br>
{{#if posts.length}}
<section>
  <p class="title is-4 has-text-dark has-text-weight-medium has-text-centered-fullhd is-italic is-family-primary">View Shared Recipe List Below:</p>
  <div class="has-text-grey-dark is-italic is-size-6-fullhd">
  <ol>
    {{#each posts as |post|}}
    <li class="is-size-6">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="button is-small edit-link has-background-warning-light has-text-grey-dark is-size-7-fullhd">Edit Recipe</a>
    </li>
    <br>
    {{/each}}
  </ol>
  </div>
</section>
{{/if}}




<script src="/public/javascript/add-post.js"></script>