<article class="columns is-centered">
  
    <div id="recipe-card" class="column is-half is-centered">
        <p class="p py-4 has-background-warning has-text-centered-fullhd"><strong class="strong has-text-primary ">Are you sure you want to delete this recipe?</strong><br>
    
    <div class="column is-centered">
        <button type="button"  class="delete-recipe-btn button is-big is-responsive is-primary">Yes</button>
        <a href="/recipe" class="button is-big edit-link has-background-danger has-text-white is-responsive is-size-10-fullhd">No</a>
    </div>

    </div>
</article>



<script src="/public/javascript/edit-recipe.js"></script>
<script src="/public/javascript/delete-recipe.js"></script>