<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
</article>
<br>
<article>
  <p class="title is-4 has-text-grey-dark">
    Edit Your Recipe
  </p>
  
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
    <div>
      by you on {{format_date post.created_at}}
    </div>
    <br>
    <button type="submit" class="button is-small is-success">Save Recipe</button>
    <button type="button" class="delete-post-btn button is-small is-danger">Delete Recipe</button>
  </form>
</article>

<br>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/public/javascript/edit-post.js"></script>
<script src="/public/javascript/delete-post.js"></script>
<script src="/public/javascript/comment.js"></script>
