<article>
  <a href="/recipe"> &larr; Back to recipes</a>
</article>
<br>
<article class="columns is-centered">
  <div id="recipe-card" class="column is-half is-centered">
<form class="edit-recipe-form">
  <div id="recipe-results" class="div has py-4">
   <div class="card is-centered">

       <p class="p has-background-warning has-text-centered-fullhd"><strong class="strong has-text-primary ">Title</strong><br>
       <input name="recipe_title" type="text"  value="{{recipe.recipe_title}}" />
       <p class="p has-background-warning has-text-centered-fullhd"><strong class="strong has-text-primary ">Description</strong><br>
       <input name="description" type="text" value="{{recipe.description}}" />
        <p class="p has-background-warning has-text-centered-fullhd"><strong class="strong has-text-primary ">Ingredients</strong><br>
       <textarea name="ingredients">{{recipe.ingredients}}</textarea>
       <p class="p has-background-warning has-text-centered-fullhd"><strong class="strong has-text-primary ">Instructions</strong><br>
       <textarea name="instructions">{{recipes.instructions}}</textarea>
       <br>
   </div>
   <br>


    <button type="submit" class="button is-small is-responsive is-success">Save</button>
    <button type="button" class="delete-recipe-btn button is-small is-responsive is-danger">Delete</button>
  </div>
 </form>
 </div>
</div>
</article>

<br>



<script src="/public/javascript/edit-recipe.js"></script>
<script src="/public/javascript/delete-recipe.js"></script>