<article>
  <a href="/recipe"> &larr; Back to recipes</a>
</article>
<br>
<article class="columns is-centered">
  <div id="recipe-card" class="column is-half is-centered">
<form class="edit-recipe-form">
  <div id="recipe-results" class="div has py-4">
   <div class="card is-centered">
       <div class="div has-background-danger has-text-centered-fullhd has-text-white">Are you sure you want to delete this recipe?</div>
   </div>
   <br>
   
    <button type="button" class="delete-recipe-btn button is-big is-responsive is-success">Yes</button>
  </div>
 </form>
 </div>
</div>
</article>

<br>


<script src="/public/javascript/delete-recipe.js"></script>