<br />
<form class="login-form">
  <div>
    <p class="has-text-weight-medium has-text-black is-italic">Please Login
      Below:</p>
    <br />
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <br />
  <div>
    <button type="submit" class="button is-success is-small">Login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <p class="has-text-weight-medium has-text-black is-italic">No Login? No
      Problem! Sign Up Below:</p>
    <br />
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <br />
  <div>
    <button type="submit" class="button is-success is-small">Sign-up</button>
  </div>
</form>
<br />
<br />

<script src="/public/javascript/login.js"></script>