{{! id required to populate in random-recipe.js }}
<article>
  <a href="/"> &larr; Back to Homepage</a>
</article>
<div>
  <div>
    <br />
    <p
      class="is-size-4-fullhd has-text-dark has-text-centered-fullhd is-italic has-text-weight-medium is-family-primary"
    >Can't decide what to make?!</p>
    <br />
    <button id="random-meal" class="button is-success">Randomize-Me!</button>
  </div>
  <div class="card align-center" id="random-card">
    <br />
    <div id="recipe" class="" width="400" 
     height="500">
    <br />
  </div>
</div>

<script src="/public/javascript/random-recipe.js"></script>