{{!-- id required to populate in random-recipe.js --}}
<div>
	<div>
		<h3>
			Can't decide what to make?!
		</h3>
		<button id="random-meal">Randomize-Me!</button>
	</div>
  <br>
	<div id="recipe" class=""></div>
  <br>
</div>

<script src="/public/javascript/"></script>