/* Testing this commit
header {
  padding: 45px 35px;
  background-color: #ffe08a;
  background-size: 100%;
  background-position: 90%;
  justify-content: center;
}

footer {
  background: #ffe08a;
  padding: 40px 35px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.align-center {
  align-items: center;
}

#link {
  align-items: flex-start;
} */

body {
  background-color: #ffe08a;
}

.navbar-end {
  width: 100%;
  display: flex;
  justify-content: end;
}

header {
  background-image: url("/public/images/header-img.png");
  background-size: cover;
  height: 100px;
}

#meal.strMealThumb {
  margin: 16px auto;
  object-fit: contain;
  width: 10%;
  justify-content: center;
}
