/*Testing this commit*/
header {
  padding: 45px 35px;
  background-color: #ffe08a;
  background-size: 100%;
  background-position: 90%;
  justify-content: center;
}

body {
  background-color: white;
}

footer {
  background: white;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

section {
  padding: 60px;
}
